<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments :: page_head('EConnect', 'none')" />
	<link rel="stylesheet" th:href="@{/main.css}" />
	<!-- <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" /> -->
<!--	<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}" ></script>-->
	<!-- <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" ></script> -->
   </head>
<body>

	
		<div th:if="${param.error}">
			<p class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
		</div>
		<div th:if="${param.logout}">
			<p class="text-warning">You have been logged out.</p>
		</div>
		

   
   <section>
	 <div class="login-root">
	   <div class="box-root flex-flex flex-direction--column" style="min-height: 100vh;flex-grow: 1;">
		 <div class="loginbackground box-background--white padding-top--64">
		   <div class="loginbackground-gridContainer">
			 <div class="box-root flex-flex" style="grid-area: top / start / 8 / end;">
			   <div class="box-root" style="background-image: linear-gradient(white 0%, rgb(247, 250, 252) 33%); flex-grow: 1;">
			   </div>
			 </div>
			 <div class="box-root flex-flex" style="grid-area: 4 / 2 / auto / 5;">
			   <div class="box-root box-divider--light-all-2 animationLeftRight tans3s" style="flex-grow: 1;"></div>
			 </div>
			 <div class="box-root flex-flex" style="grid-area: 6 / start / auto / 2;">
			   <div class="box-root box-background--blue800" style="flex-grow: 1;"></div>
			 </div>
			 <div class="box-root flex-flex" style="grid-area: 7 / start / auto / 4;">
			   <div class="box-root box-background--blue animationLeftRight" style="flex-grow: 1;"></div>
			 </div>
			 <div class="box-root flex-flex" style="grid-area: 8 / 4 / auto / 6;">
			   <div class="box-root box-background--gray100 animationLeftRight tans3s" style="flex-grow: 1;"></div>
			 </div>
			 <div class="box-root flex-flex" style="grid-area: 2 / 15 / auto / end;">
			   <div class="box-root box-background--cyan200 animationRightLeft tans4s" style="flex-grow: 1;"></div>
			 </div>
			 <div class="box-root flex-flex" style="grid-area: 3 / 14 / auto / end;">
			   <div class="box-root box-background--blue animationRightLeft" style="flex-grow: 1;"></div>
			 </div>
			 <div class="box-root flex-flex" style="grid-area: 4 / 17 / auto / 20;">
			   <div class="box-root box-background--gray100 animationRightLeft tans4s" style="flex-grow: 1;"></div>
			 </div>
			 <div class="box-root flex-flex" style="grid-area: 5 / 14 / auto / 17;">
			   <div class="box-root box-divider--light-all-2 animationRightLeft tans3s" style="flex-grow: 1;"></div>
			 </div>
		   </div>
		 </div>
		 <div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
		   <div class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center">
			 <!-- <h1>SPECMAKERS</h1> -->
			 <!-- <h1><strong style="font-size: 150%;">EConnect</strong></a></h1> -->
			 <a th:href="@{/}"><img th:src="@{${SITE_LOGO}}"  style="width: 200px;"/></a>
		   </div>
		   <!-- <div class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center">
			 <h1>SpecMakers</h1>
		   </div>
		   <div class="box-root flex-flex flex-justifyContent--center error">
		   </div> -->
		  
		   <div class="formbg-outer">
			 <div class="formbg">
			   <div class="formbg-inner padding-horizontal--48">
				 <span class="padding-bottom--15">Login to your account</span>

				 
				
				

				 <!-- Form -->
			<form th:action="@{/login}" method="post" id="stripe-login" >
				   <div class="field padding-bottom--24">
					 <label for="email">Email</label>
					 <input type="email" name="email" placeholder="Enter Email" required>
				   </div>
   
				   <div class="field padding-bottom--24">
					 <div class="grid--50-50">
					   <label for="password">Password</label>
					  
					 </div>
					 <input type="password" name="password" placeholder="Enter your password" minlength="6" required>
				   </div>
				   <div class="field field-checkbox padding-bottom--24 flex-flex align-center">

					 <label for="checkbox">
					   <input type="checkbox" name="remember-me"> Stay signed in for a week
					 </label>
				   </div>
				   <div class="reset-pass" style="display: flex;justify-content: center;">
					 <a th:href="@{/forgot_password}">Forgot Password</a>

				   </div>
				   <div class="field padding-bottom--24">
					 <input style="background: #0071bc;" href="#" type="submit" value="Login">
				   </div>

				   <span class=" row justify-content-center">OR </span>&nbsp;
				   <div class="row  justify-content-center">
					  
					   <!-- <div class="col-md-3"> -->
						 <a class="btn btn-outline-dark" th:href="@{/oauth2/authorization/google}" role="button" style="text-transform:none">
						   <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
						   Login with Google
						 </a>
					   <!-- </div> -->
					 </div>
				  
				   <!-- <div class="field">
					 <a class="ssolink" href="#">Use single sign-on (Google) instead</a>
				   </div> -->
				 </form>
			   </div>
			 </div>
			 <div class="footer-link padding-top--24">
			   <span>Don't Have an account? <a th:href="@{/register}" style="color: blue; cursor: pointer;"> Create an Account</a></span>
			   <div class="listing padding-top--24 padding-bottom--24 flex-flex center-center">
				 <span><a href="#">Contact</a></span>
				 <span><a href="#">Privacy & terms</a></span>
			   </div>
			 </div>
		   </div>
		 </div>
	   </div>
	 </div>
   </section>

</body>
</html>